.item{
    border: 2px solid #e83a3b;
    background:cornflowerblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
}
h2{
    text-transform: capitalize;
}